---
http_interactions:
- request:
    method: get
    uri: https://<HEROKU_LOGIN>:<HEROKU_TOKEN>@api.heroku.com/apps/severe-stream-5145/config_vars
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Heroku-Api-Version:
      - '2'
      X-Ruby-Version:
      - 1.9.3
      X-Ruby-Platform:
      - x86_64-linux
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"97a94f0bec5d56906036c06561aeb2a4"'
    body:
      encoding: US-ASCII
      string: ! '{"SHARED_DATABASE_URL":"postgres://yuhgvfdwgt:C_G0AB8HnduFFEt0eZtT@ec2-23-21-246-13.compute-1.amazonaws.com/yuhgvfdwgt","BUNDLE_WITHOUT":"development:test","APP_NAME":"severe-stream-5145","DATABASE_URL":"postgres://yuhgvfdwgt:C_G0AB8HnduFFEt0eZtT@ec2-23-21-246-13.compute-1.amazonaws.com/yuhgvfdwgt","COMMIT_HASH":"","URL":"severe-stream-5145.heroku.com","PAPERTRAIL_API_TOKEN":"<PAPERTRAIL_TOKEN>","LAST_GIT_BY":"","RACK_ENV":"production","LANG":"en_US.UTF-8","STACK":"bamboo-mri-1.9.2"}'
  recorded_at: Sun, 11 Mar 2012 17:39:46 GMT
- request:
    method: get
    uri: https://papertrailapp.com/api/v1/events/search.json?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Papertrail-Token:
      - <PAPERTRAIL_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"4d85eaa9ae682d92da141801446cc742"'
      X-Shibboleet:
      - if you see this, we'd like to get you a thank you espresso
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"min_id":"115530419080015876","events":[{"source_id":335845,"message":"W,
        [2012-03-11T18:35:41.119498 #7445]  WARN -- : restart","program":"cucumber","hostname":"<HOSTNAME>","facility":"User","display_received_at":"Mar
        11 18:33:29","received_at":"2012-03-11T18:33:29+01:00","id":115553019395051522,"severity":"Notice","source_name":"<HOSTNAME>","source_ip":"<LOGGED_IP>"},{"source_id":335845,"message":"W,
        [2012-03-11T18:39:42.588374 #10003]  WARN -- : crash","program":"cucumber","hostname":"<HOSTNAME>","facility":"User","display_received_at":"Mar
        11 18:37:30","received_at":"2012-03-11T18:37:30+01:00","id":115554032097177601,"severity":"Notice","source_name":"<HOSTNAME>","source_ip":"<LOGGED_IP>"},{"source_id":335845,"message":"W,
        [2012-03-11T18:39:42.589267 #10003]  WARN -- : restart","program":"cucumber","hostname":"<HOSTNAME>","facility":"User","display_received_at":"Mar
        11 18:37:30","received_at":"2012-03-11T18:37:30+01:00","id":115554032118140929,"severity":"Notice","source_name":"<HOSTNAME>","source_ip":"<LOGGED_IP>"},{"source_id":335845,"message":"W,
        [2012-03-11T18:39:42.572863 #10003]  WARN -- : start server","program":"cucumber","hostname":"<HOSTNAME>","facility":"User","display_received_at":"Mar
        11 18:37:30","received_at":"2012-03-11T18:37:30+01:00","id":115554032130727937,"severity":"Notice","source_name":"<HOSTNAME>","source_ip":"<LOGGED_IP>"}],"max_id":"115554032130727937","reached_record_limit":true}'
  recorded_at: Sun, 11 Mar 2012 17:39:47 GMT
recorded_with: VCR 2.0.0
